@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("../abstract/variables.scss");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main__container {
  width: 100vw;
}

.header {
  height: 10vh;
  width: 100%;
}

* {
  font-family: "PT Mono", monospace;
}

.article__text h2 {
  font-size: 100px;
  font-weight: 500;
}

.article__text--subtext {
  font-size: 30px;
}

.contacto__text {
  font-size: 24px;
}

.contacto__text p {
  font-size: 15px;
  margin-top: 25px;
}

.nav__logo--buttons a {
  font-size: 20px;
}

.nav img {
  height: 5vh;
  position: absolute;
  left: 85px;
  top: 20px;
}

.nav {
  display: inline-block;
}

.header {
  position: relative;
}

.nav a {
  padding-right: 30px;
}

.article {
  height: 55vh;
  width: 100%;
  position: relative;
}

.contacto {
  height: 35vh;
  width: 100%;
  position: relative;
}

.article__foto > img {
  width: 100%;
  object-fit: cover;
}

.article__foto {
  display: inline-block;
  position: relative;
  width: 69%;
}

.article__text {
  display: inline-block;
  vertical-align: bottom;
  height: 100%;
  position: relative;
  width: 30%;
  padding-left: 30px;
}

.article__text--subtext {
  position: absolute;
  top: 240px;
}

.contacto__text {
  display: inline-block;
  position: relative;
  height: 100%;
  padding-left: 20px;
  padding-top: 20px;
  width: 69%;
}

.caja__celeste {
  width: 500px;
  height: 70%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: aqua;
}

.map__cafe {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 28%;
}

.contacto__map img {
  height: 26vh;
}

.contacto__map {
  display: inline-block;
  position: absolute;
  padding-left: 100px;
  z-index: 1;
  top: 20px;
  left: 380px;
}

.contacto__foto {
  display: inline-block;
  right: 0;
  width: 30%;
}

.contacto__foto img {
  width: 100%;
}

.variedades {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.variedades img {
  width: 500px;
}

.flecha {
  position: absolute;
  z-index: 1;
  /* test leyout */
  bottom: 0;
  left: 0;
}

.flecha img {
  width: 135px;
  aspect-ratio: 1/1;
  box-shadow: 17px 16px 0px 0px rgb(231, 166, 26);
}

.cafe {
  position: absolute;
  top: 597px;
  right: 830px;
  z-index: 1;
}

.cafe img {
  width: 120px;
  box-shadow: -40px 26px 0px 0px rgb(60, 145, 230);
}

.nav__logo--buttons {
  position: absolute;
  top: 35px;
  left: 190px;
}

.nav__logo--buttons a {
  color: #a2a2a2;
  text-decoration: none;
}

.nav__logo--buttons a:hover {
  color: black;
}

.nav__buttons {
  position: absolute;
  top: 35px;
  right: 10px;
  width: 30%;
}

.nav__buttons button {
  padding: 0.5rem 1.5rem;
  margin-right: 30px;
}

.nav__button--blanco {
  background-color: white;
  border-style: solid;
  border-color: #a2a2a2;
  color: #a2a2a2;
  font-size: 20px;
}

.nav__button--verde {
  background-color: #4ca866;
  color: white;
  border: 0;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
